<!DOCTYPE html>
<html>

<head>
  <title>M-Shopping</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
</head>

<body style="background-color: #eee;">
  <%-include('layout')%>
  
  <%-include('Product')%>  

  
  <div class="mt-5">
  <%-include('footer')%>
  </div>
</body>

</html>